
<div class="center hero-unit">
	<h1>GiveHub</h1>
	<h2>A better way to give.</h2>

<div class="row-fluid">

		<div class="span4">
			<%= link_to "Plan", plan_path, class: "btn btn-giant btn-primary" %>
		</div>
		<div class="span4">
			<%= link_to "Find", "#", class: "btn btn-giant btn-info" %>
		</div>
		<div class="span4">
			<%= link_to "Give", "#", class: "btn btn-giant btn-success" %>
		</div>
	</div>
</div>